.card-gift {
    transform: translateY(-.6em) translateX(7px);
}

.icon {

    transition: all .5s cubic-bezier(0.16, 1, 0.29, 0.99) 0s, background 0s ease 0s;
}

.bg-icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 35vmax;
    transform: translateY(10em);
    text-align: center;
}


.svg-frame img {
    scale: .9;
    width: 100%;
    height: 100%;
}

.ltr-img {
    align-items: center;
    justify-content: center;
    transform: translateY(6em);
    float: left;
    width: 30%;
    height: 40em;
}

.ltr-img img {
    scale: .9;
    width: 100%;
    height: 100%;
}

.rtl-img {
    align-items: center;
    justify-content: center;
    transform: translateY(9em);
    float: right;
    width: 30%;
    height: 40em;
}

.rtl-img img {
    scale: .9;
    width: 100%;
    height: 100%;
}

.checked img {
    scale: 1.2;
}

.card-pre-coin {
    transform: translateY(15px);
}

@media(max-width: 1100px) {
    .ltr-img {
        display: none;
    }
    .rtl-img {
        display: none;
    }
    .bg-img {
        height: 550px !important;
    }
    .svg-frame {
        transform: translateY(13em);
    }
    .main-content {
        margin-top: 13em !important;
    }
}



@media(max-width: 900px) {
    .prize-card {
        float: none !important;
        width: 100% !important;
        border-radius: 0 !important;
    }
    .links:first-child {
        display: none;
    }
    .links:last-child {
        width: 100%;
    }
    .mof {
        margin-top: 20em;
    }
    .card-prize {
        border-radius: unset !important;
        width: 100% !important;
    }
    .card-content {
    text-align: center !important;
    }
}

@media(max-width: 1000px) {
    .svg-frame {
        transform: translateY(14em);
    }
    .twit-container {
        display: grid !important;
        margin: 0 auto !important;
    }
    .ltr-virus {
        display: none;
    }
    .news-room {
        float: none !important;
        width: 100% !important;
        background: white ;
    }
    .news-room:first-child {
        border-radius: 1.2em 1.2em 0 0 !important;
    }
    .news-room:last-child {
        border-radius: 0 0 1.2em 1.2em !important;
    }
    .input-email {
        margin-top: -2em !important;
    }
    .news-bg {
        opacity: 1 !important;
        height: 300px !important;
    }
    .priv-01 {
        display: block !important;
    }
    .priv-02 {
        display: none;
    }
    .break {
        display: block ;
    }
    .input-email input {
        width: 99% !important;
    }
    .news-letter {
        transform: translateY(-16.7em) !important;
    }
    .subscribe-btn {
        margin-left: 0 !important;
        margin-top: 2em !important;
        width: 100% !important;
    }
    .rtl-virus {
        display: none;
    }
    .collab {
        display: none !important;
    }
    .d3ploy {
    display: none !important;
    }
    .card-twit {
        float:none !important;
        display: block;
        margin-top: 2em;
        margin-left: 0 !important;
    }
    .visible-hidden {
        display: block !important;
    }
    .hidden {
        display: none !important;
    }
    .w70 {
        width: 80% !important;
    }
    .ltr-guy {
        display: none !important;
    }
    .rtl-alien {
        display: none !important;
    }
}
@media(max-width: 600px) {
    .d-flex:last-child {
        height: 618.5em !important;
    }
}
@media(max-width: 645px) {
    .svg-frame {
        transform: translateY(14.5em) !important;
    }
}
@media(max-width: 489px) {
    .break-txt {
        font-size: 1.5em !important;
    }
}
@media(max-width: 900px) {
    .d-flex:last-child {
        height: 589.5em !important;
    }
    .foot div {
        float: none !important;
        width: 100%;
    }
}
@media(max-width: 700px) {
    .svg-frame {
        transform: translateY(17.5em);
    }
    .d-flex:last-child {
        height: 608.5em !important;
    }
    .timeline-progress {
        width: 100%;
    }
    .rule{
        transform: translateX(2px) !important;
    }
    .card-gold-container {
        scale: .9;
    }
    .card-gold {
        width: 15%;
        height: 6em !important;
        margin-left: 5% !important;
    }
    .card-gold:first-child {
        margin-left: 0 !important;
    }
    .card-gold svg {
        scale: .75;
    }
    .card-premium {
        width: 80%;
        float: unset;
        margin-left: 15%;
        margin-top: 2em;
    }
    .premium-card-container {
        display: block;
        width: 90%;
    }
}

@media(max-width: 565px) {
    .d-flex:last-child {
        height: 618em !important;
    }
    .svg-frame {
        width: 65%;
    }
}


@media(max-width: 450px) {
    .svg-frame {
        transform: translateY(7em);
    }
    .d-flex:last-child {
        height: 649.5em !important;
    }
}

@media(max-width: 400px) {
    .d-flex:last-child {
        height: 653em !important;
    }
}

@media(max-width: 490px) {
    .svg-frame {
        transform: translateY(6em);
    }
    .twit {
        width: 90%;
        margin: 0 auto;
    }
    .twit-text {
        font-size: 1.5em;
    }
    .prem-text {
      font-size: 2em;
    }
    .lg02 {
        width: 90%;
    }
    .sml {
        font-size: 18px;

    }
    .date-rtl {
        margin-left: 1.5em;
    }
    .long {
        width: 10em;
        margin-left: 2em;
        font-size: 16px;
        transform: translateX(14px);
    }
    .rule{
        transform: translateX(8px) !important;
    }
}

@media(max-width: 400px) {
    .svg-frame {
        transform: translateY(6em);
    }
    .rule{
        transform: translateX(11px) !important;
    }
    .sml {
        font-size: 16px;

    }
    .date-rtl {
        margin-left: 1.5em;
    }
    .long {
        width: 10em;
        margin-left: 2em;
        font-size: 14px;
        transform: translateX(14px);
    }
}


@media(max-width: 370px) {
    .svg-frame {
        width: 75%;
    }
}

@media(max-width: 363px) {
    .svg-frame {
        transform: translateY(9.5em) !important;
    }
}

.gradient {
    width: 0;
    height: 17em;
    z-index: -99;
    border-radius: 20em;
    margin-right: 0;
    transition: 1s ease;
    position: absolute;
    visibility: hidden;
    opacity: .5;
    top: 15em;
    right: 27em;
    box-shadow: unset;
}

.bg-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(17em);
    -webkit-backdrop-filter: blur(17em);
}

.covid {
    position: absolute;
    transform: translateY(-8em) translateX(8.5em);
    z-index: -999;
}

.covid-02 {
    position: absolute;
    transform: translateY(-1em) translateX(-4.5em) scale(2);
    z-index: -999;
}

.zig-zag {
    position: absolute;
    transform: translateY(-3.5em) translateX(10em);
    z-index: -999;
}

.zig-2 {
    position: absolute;
    transform: translateY(2.15em) translateX(-10em);
    z-index: -999;
}

.visible-hidden {
    display: none;
}

.visible-hide {
    display: none !important;
}